[Unit]
Description=Blog Builder service
After=network.target

[Service]
Type=simple
User=max
WorkingDirectory=/home/max/dev/blog-builder/
Environment="PROD_APP_SETTINGS=prod_config.py"
ExecStart=/home/max/.local/bin/pipenv run gunicorn -c gunicorn.conf.py listener:app
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
